<article class="container_article">
  <h1>MyPage Top</h1>
  <h5 class="mt-2"><%= @user.name %>&nbsp;&lt;<%= @user.email %>&gt;&nbsp; / <%= current_user.keep_team.name %></h5>
  <% unless current_user.guest? %>
    <%= link_to "edit profile", edit_user_path, class: 'btn btn-sm btn-info mt-3' %>
  <% end %>
</article>